{% extends "base.html" %}
{% block content %}
<h1>Settings</h1>

<h3>Locations</h3>
<ul>
    {% for location in locations %}
    <li>{{ location[0] }} 
        <!-- Add delete button -->
        <form method="POST" action="{{ url_for('delete_location', location_value=location[0]) }}" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <input type="hidden" name="type" value="location">
    <input type="text" name="value" placeholder="Add Location" class="form-control mb-2">
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<h3>Categories</h3>
<ul>
    {% for category in categories %}
    <li>{{ category[0] }} 
        <!-- Add delete button -->
        <form method="POST" action="{{ url_for('delete_category', category_value=category[0]) }}" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <input type="hidden" name="type" value="category">
    <input type="text" name="value" placeholder="Add Category" class="form-control mb-2">
    <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}